.back_arrow{
   position: fixed;
    width: 2rem;
    height: 1.5rem;
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
    margin-bottom: auto;
    margin-left: 1rem;
    cursor: pointer;
}

.dec_button{
     width: 22px;
     height: 22px;
     margin: 5px;
     border: none;
     color: red;
     font-size: 1rem;
     font-weight: 600;
}
.inc_button{
     width: 22px;
     height: 22px;
     border: none;
     color: red;
     font-size: 1rem;
     font-weight: 600;
}

.empty_cart{

    width: 25rem;
    height: 12.5rem;
    border: 1px solid;
    border: 1px solid #e41d36;
    background-color: white;
    color: #e41d36;
    border-radius: 7px;
    font-size: 2rem;
    margin-left: 32%;
    margin-top: 10%;
    text-align: center;
    padding: auto;
}
   

.quantity{
  font-size: 0.8rem;
  margin: 0.2rem;
}

.header{
    margin: 0;
    top:0;
    position: fixed;
    width: 104vw;
    height: 5rem;
    background-color: #e41d36;
    box-shadow: 2px 2px 5px rgb(88, 87, 87);
    display: inline-block;
    z-index: 10;
}

.header p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: auto;
    margin-left: -11vw;
    text-align: center;
    color: rgb(253, 253, 253);
}

.product_container{
   width: 50vw;
   height: 5rem;
   margin: 2rem;
   box-shadow: 2px 2px 5px rgb(122, 120, 120);
   display: flex;
   flex-direction: column;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
     
}
.flex_container{

    display: flex;
    flex-direction:row;
}

.product_container h2{
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 6vw;
}
.product_container p{
    font-size: 0.8rem;
    font-weight: bold;
    margin: auto;
}
.product_container span{
    color: rgb(88, 89, 90);
}
.item_container{
    width: 60vw;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10vh;
    background-color: rgb(178, 186, 212);

}
.button{
    margin-top: 4rem;
    right: 0;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    background-color: slategray;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    border:none;
   
}
.delete{
    border :none ;
    background :none;
    cursor: pointer;
    margin:auto ;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(99, 97, 97);
    transition: .5s ease all;
}
.popup{
    display: flex;
    margin: 0;
}
.home{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
   
}


.chekout_container{
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.checkout_footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top: 1rem;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 2px 5px 3px rgb(187, 184, 184);
    background-color: white;
}
.cost{

    width: 50vw;
    height: 3.5rem;
    text-align: center;
}
.checkout_footer h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}
.checkout_button{
    width: 49.9vw;
    background-color: #e41d36;
    color: whitesmoke;
    height: 3.5rem;
    border:none;
    outline: none;
    border-radius: 3px;
}

@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@media screen and (max-width : 360px) {
    
.header{
    margin: 0;
    width: 50rem;
    height: 3.5rem;
    background-color: #e41d36;
    box-shadow: 2px 2px 5px rgb(88, 87, 87);
    display: inline-block;
}

.header p{
    font-size: 1.1rem;
    margin: auto;
    font-weight: bold;
    float: left;
    margin-top: 1rem;
    margin-left: 35vw;;
    margin-right: auto;
    text-align: center;
    color: white;
}
.home{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
     margin: 1.8rem ;
 }
 .empty_cart{
    text-align: center;
    width: 68vw;
    height: 18vh;
    border: 1px solid;
    border: 1px solid #e41d36;
    background-color: white;
    color: #e41d36;
    border-radius: 7px;
    font-size: 1.5rem;
    margin-left: 16vw;
    margin-top: 25%;
    
}
 .button{

    margin-left: 0;
    margin-top: 1.4rem;
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    background-color: slategray;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border:none;
    
}
.countAndPricing p{
    font-size: 0.9rem;
    font-weight:lighter;
}

.delete{
    border :none ;
    cursor: pointer;
    background: none;
    margin:auto ;
    font-size: 0.65rem;
    font-weight: 600;
    color:rgb(90, 89, 89);
}
.item_container{

    width: 80vw;
    margin: auto;
    margin-left: 2rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.product_container{
   width: 80vw;
   height: 4rem;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 2px 2px 5px rgb(122, 120, 120);
   display: flex;
   flex-direction: column;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius: 5px;
}

.product_container h2{
    text-align: start;
    font-size: 0.65rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-left: 6vw;
}
.product_container p{
    font-size: 0.65rem;
    font-weight: 600;
   
}

.flex_container{

    display: flex;
    flex-direction:row;
}


.chekout_container{
    width: 100%;
    position: fixed;
    bottom: -2px;
    
}
.checkout_footer{
    width: 100%;
    position: fixed;
    bottom: -2px;
    margin-top: 1rem;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 2px 5px 3px rgb(187, 184, 184);
    background-color: white;
}

.cost{
    width: 50vw;
    height: 3rem;
    text-align: center;
}

.checkout_footer h2{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
}
.checkout_button{
    
    width: 49.9vw;
    background-color: #e41d36;
    color: whitesmoke;
    height: 3rem;
    border:none;
    outline: none;
    border-radius: 3px;
   
}

}


@media screen and (min-width : 361px ) and (max-width :  550px) {
        
.header{
    margin: 0;
    width: 130%;
    height: 3.8rem;
    background-color: #e41d36;
    box-shadow: 2px 2px 5px rgb(88, 87, 87);
    display: inline-block;
}

.header p{
    font-size: 1.3rem;
    margin: auto;
    font-weight: bold;
    float: left;
    margin-top: 1rem;
    margin-left: 34vw;
    margin-right: auto;
    text-align: center;
    color: white;
}
.home{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
     margin: 1.8rem ;
 }
 .empty_cart{

    width: 18rem;
    height: 8rem;
    border: 1px solid;
    border: 1px solid #e41d36;
    background-color: white;
    color: #e41d36;
    border-radius: 7px;
    font-size: 1.5rem;
    margin-left: 18%;
    margin-top: 10%;
}
 .button{

    margin-left: 0;
    margin-top: 1.4rem;
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    background-color: slategray;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border:none;
    /* box-shadow: 1px 2px 5px rgb(11, 11, 212); */
}
.countAndPricing p{
    font-size: 0.9rem;
    font-weight:lighter;
}

.delete{
    border :none ;
    cursor: pointer;
    background: none;
    margin:auto ;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(71, 70, 70);
}
.item_container{

    width: 85vw;
    margin: auto;
    margin-left: 2rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
}


.product_container{
   width: 80vw;
   height: 4rem;
   margin: 1rem;
   box-shadow: 2px 2px 5px rgb(122, 120, 120);
   display: flex;
   flex-direction: column;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius: 5px;
}

.product_container h2{
    font-size: 0.65rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 6.8vw;
}
.product_container p{
    font-size: 0.65rem;
    font-weight: 500;
    margin: auto;
}
.flex_container{

    display: flex;
    flex-direction:row;
}

.chekout_container{
   
    width: 100%;
    position: fixed;
    bottom: -2px;
    
}
.checkout_footer{
    width: 100%;
    position: fixed;
    bottom: -2px;
    margin-top: 1rem;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 2px 5px 3px rgb(187, 184, 184);
    background-color: white;
}

.cost{

    width: 50vw;
    height: 3rem;
    text-align: center;
}

.checkout_footer h2{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
}
.checkout_button{
  
    border-radius: 5px;
    color: white;
    background:#e41d36;
    border: none;
    width: 50vw;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
}
}

@media screen  and (min-width : 550px ) and (max-width : 1000px){
  
.header{
     margin: 0;
    width: 100%;
    height: 3.8rem;
    background-color: #e41d36;
    box-shadow: 2px 2px 5px rgb(88, 87, 87);
    display: inline-block;
}
.header p{
    font-size: 1.3rem;
    margin: auto;
    font-weight: bold;
    float: left;
    margin-top: 1rem;
    margin-left: 37vw;
    margin-right: auto;
    text-align: center;
    color: white;
}
.home{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
     margin: 1.8rem ;
 }
 .empty_cart{

    width: 22rem;
    height: 10rem;
    border: 1px solid;
    border: 1px solid #e41d36;
    background-color: white;
    color: #e41d36;
    border-radius: 7px;
    font-size: 1.5rem;
    margin-left: 22%;
    margin-top: 12%;
}
 .button{
    
    margin-left: 0;
    margin-top: 2rem;
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    background-color: slategray;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    border:none;
   
}
.countAndPricing p{
    font-size: 1.4rem;
    font-weight:lighter;
}

.delete{
   border :none ;
    cursor: pointer;
    background: none;
    margin:auto ;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(71, 70, 70);
}

.item_container{
    width: 80vw;
    margin: auto;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
}

.product_container{
   width: 75vw;
   height: 4rem;
   margin: 2rem;
   box-shadow: 2px 2px 5px rgb(122, 120, 120);
   display: flex;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius: 5px;
}

.product_container h2{
    font-size: 0.65rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 6.8vw;
}
.product_container p{
    font-size: 0.65rem;
    font-weight: 500;
    margin: auto;
}

.chekout_container{
    width: 100%;
    position: fixed;
    bottom: 0;   
    
}
.checkout_footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top: 1rem;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 2px 5px 3px rgb(187, 184, 184);
    background-color: white;
}

.cost{

    width: 50vw;
    height: 3rem;
    text-align: center;
}

.checkout_footer h2{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
}
.checkout_button{
    border-radius: 5px;
    color: white;
    background:#e41d36;
    border: none;
    width: 50vw;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
}
}