.fail_container {
  top: 0;
  width: 100vw;
  position: fixed;
  background-color: #e41d36;
  height: 5rem;
  text-align: center;
}
.heading{
    color: #fff;
    font-size: 1.5rem;
    height: 1.8rem;
  }

.failed_message {
  width: 18rem;
  height: 10rem;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20vh;
  border-radius: 10px;
}
.failed_message h1 {
  font-size: 1.5rem;
  text-align: center;
  color: #e41d36;
  margin-top: 6rem;
  font-weight: 500;
  font-family: "Zen Antique", serif;
}
.flex_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.failed {
  color: rgb(253, 251, 251);
  font-size: 1.4rem;
  margin-left: 40%;
  margin-top: 1rem;
}
.success_container {
  display: flex;
  top: 0;
  width: 100vw;
  margin: 0;
  background-color: green;
  height: 4rem;
  text-align: center;
}
.order_placed {
  color: rgb(241, 243, 241);
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.update_button {
  width: 20rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: white;
  color: #e41d36;
  border-radius: 6px;
  border: 1px solid #e41d36;
}
.item_container {
  width: 48rem;
  text-align: center;
  height: 2.5rem;
  border: 1px solid #e41d36;
  margin: 8px;
  border-radius: 4px;
}

.item_heading {
  font-size: 1.1rem;
  font-weight: 400;
  color: #e41d36;
  margin-top: 0.5rem;
}

.backbutton {
  width: 3rem;
  color: white;
  height: 1.5rem;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.success_box{
    width: 100%;
    height: 5rem;
    min-height: fit-content;
    border : 1px solid green ;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    color: green;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(205, 243, 205);
    padding: 12px;
  }

  .order_sum{
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
  }
  .title{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
  }
  .success_box h2{
    font-size: 1.3rem;
  }
  .success_box p{
    font-size: 1rem;
  }
  .checkicon{
    width: 25x;
    height: 25px;
  }

  .back_icon{
    font-size: 1.5rem;
  }

/* @media screen and (min-width: 551px) and (max-width: 1400px) {
  .itemlist {
    width: 370px;
  }
} */

@media screen and (min-width: 1200px)  {
  .itemlist {
    width: 800px;
  }
}

@media screen and (max-width: 550px) {

  .heading{
    color: #fff;
    font-size: 1.3rem;
  }

  .back_icon{
    font-size: 1.2rem;
  }
  .backbutton {
    width: 2rem;
    cursor: pointer;
  }

  .order_placed {
    color: rgb(241, 243, 241);
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .item_container {
    width: 14rem;
    height: 2rem;
    border: 1px solid #e41d36;
    margin: 5px;
    border-radius: 4px;
  }
  .item_heading {
    margin: 7px;
    font-size: 0.8rem;
    color: #e41d36;
  }
  .failed {
    color: rgb(253, 251, 251);
    font-size: 1rem;
    margin-top: 1.2rem;
    margin-left: 20%;
  }
  .update_button {
    width: 15rem;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: white;
    color: #e41d36;
    border-radius: 5px;
    border: 1px solid #e41d36;
  }
  .failed_message {
    width: 15rem;
    height: 8rem;
    margin: auto;
    margin-top: 17vh;
    border-radius: 10px;
  }
  .failed_message h1 {
    font-size: 1.3rem;
    text-align: center;
    color: #e41d36;
    margin-top: 6rem;
    font-weight: 500;
    font-family: "Zen Antique", serif;
  }
  
  .checkicon{
    width: 25x;
    height: 25px;
  }
  .success_box{
    width: 100%;
    height: 4.8rem;
    min-height: fit-content;
    border : 1px solid green ;
    margin-bottom: 2rem;
    color: green;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(205, 243, 205);
    padding: 12px;
  }
  .order_sum{
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
  }
  .title{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
  }
  .success_box h2{
    font-size: 1.2rem;
  }
  .success_box p{
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 1000px) {
  .order_placed {
    color: rgb(241, 243, 241);
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .back_icon{
    font-size: 1.3rem;
  }
   .heading{
    color: #fff;
    font-size: 1.5rem;
  }
  .heading{
    color: #fff;
    font-size: 1.3rem;
  }
  
  .item_container {
    width: 20rem;
    height: 2rem;
    border: 1px solid #e41d36;
    margin: 5px;
    border-radius: 4px;
  }
  .item_heading {
    margin: 7px;
    font-size: 0.8rem;
    color: #e41d36;
  }

  .grid_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .failed {
    color: rgb(253, 251, 251);
    font-size: 1.3rem;
    margin-left: 30%;
    margin-top: 1.6rem;
  }
  .success_box{
    width: 100%;
    height: 5rem;
    min-height: fit-content;
    border : 1px solid green ;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    color: green;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(205, 243, 205);
    padding: 12px;
  }
  .order_sum{
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
  }
  .title{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
  }
  .success_box h2{
    font-size: 1.3rem;
  }
  .success_box p{
    font-size: 1rem;
  }
  .checkicon{
    width: 25x;
    height: 25px;
  }
}
