
.container{

    background-image: url('../public/pexels-becerra-govea-photo-5774154.jpg'); 
    position: absolute;
     /* background-size: 900px 800px;  */ 
    background-color: rgb(246, 252, 252); 
    width: 100%;
    height: 100vh;
     background-size: cover; 
    
}

.footerCart{
    display: none;  
}
 
.layer {
     background-color: rgba(32, 31, 31, 0.7);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
   font-size: 4rem;
   color: rgb(238, 235, 235);
}
.create_box{
 min-height: 73vh;
 margin: auto;
}
.link{
  width: 10rem;
  height: 3rem;
  background-color: #e41d36;
  margin: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  box-shadow: 0rem 0.3rem 0.6rem rgb(172, 167, 167);
  
}
.link:hover{
  cursor: pointer;
}

.grid_container{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 3px;
  margin: auto;
  margin-top: 6rem;
}

@media screen and (max-width :700px) {
   .grid_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3px;
    margin: auto;
    margin-top: 5.5rem;
   }
   .create_box{
     margin-top: 6rem;
   min-height: 73vh;
   margin: auto;
  }

.footerCart{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
    border :none ;
    outline: none;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(246, 252, 252);
    font-size: 1.2rem;
}
.footerCart div{
  font-size: 1rem;
}
.bluetick{
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  border :none;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 4px;
}
.flexview{
  display: flex;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.cart_button{
  background-color: rgb(0, 175, 239);
  border: none;
  outline: none;
  color: rgb(246, 252, 252);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin-right: 1rem;
}
}


@media screen and (min-width : 700px) and (max-width: 800px) {
  .grid_container{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap : 2px;
     margin-top: 6rem;
   }
    .create_box{
    margin-top: 6rem;
    min-height: 73vh;
    margin: auto;
    }
}
@media screen and (min-width : 801px) and (max-width: 1200px) {
    .grid_container{
      position: relative;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap : 5px;
     margin: auto;
     margin-top: 6rem;
   }
   .create_box{
     margin-top: 6rem
     ;
    min-height: 73vh;
    margin: auto;
    }
}