.profilepic {
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

  .headline{
    font-size: 1.7rem;
    color: #fff;
    margin-top: 0.7rem;
    margin-left: 10vw;
  }
  .text_heading{
    font-size: 1.5rem;
  }
  .text_para{
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  .text_main{
   padding: 0;
    margin: 0;
    font-size: 1.3rem;
  }
.submitbtn {
  color: #fff;
  background-color: #e41d36;
}
.submitbtn:hover {
  color: #fff;
}

.imgbox {
  background-color: #f8f8f8;
}
@media screen and (max-width: 550px) {
  .profilepic {
    border-radius: 50%;
    width: 30vw;
    height: 20vh;
  }
  .headline{
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0.7rem;
    margin-left: 10vw;
  }
  .text_heading{
    font-size: 1.2rem;
  }
  .text_para{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
  }
  .text_main{
   padding: 0;
    margin: 0;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
  .profilepic {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   .headline{
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0.7rem;
    margin-left: 10vw;
  }
  .text_heading{
    font-size: 1.2rem;
  }
  .text_para{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
  }
  .text_main{
   padding: 0;
    margin: 0;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 970px) {
  .profilepic {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    padding-top: 15px;
    padding-bottom: 10px;
  }
   .headline{
    font-size: 1.5rem;
    color: #fff;
    margin-top: 0.7rem;
    margin-left: 10vw;
  }
  .text_heading{
    font-size: 1.3rem;
  }
  .text_para{
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  .text_main{
   padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 970px) and (max-width: 1400px) {
  .profilepic {
    width: 13rem;
    height: 13rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
  }
   .headline{
    font-size: 1.6rem;
    color: #fff;
    margin-top: 0.7rem;
    margin-left: 10vw;
  }
  .text_heading{
    font-size: 1.2rem;
  }
  .text_para{
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  .text_main{
   padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }
}
